// background colors

$bg-color-dark:  #222222;;
$bg-color: #2e2e2e;
$bg-color-lighter: #292929;
$bg-color-light: #303030;

// font colors

$main: white;
$sub: #9d9d9d;

// ui colors

$light-gray: #838383;
$red: #d42d2d;

// font sizes

$big: 2vw;
$medium: 1.1vw;
$small: 0.5vw;