.catalog {
    display: flex;  
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
}

.filter-lists {
    padding-top: 2vw;
    height: 1vw;
}

#search {
    border-radius: 3%;
    border-width: 0;
    border-color: transparent;
    background-color: #2e2e2e;
    width: 10vw;    
    height: 1.5vw;
    font-family: Montserrat;
    font-size: 0.7vw;
    -webkit-box-shadow: 2vw 0 3vw rgba(0, 0, 0, 0.5);
            box-shadow: 2vw 0 3vw rgba(0, 0, 0, 0.5);
}

.films {
    color: white;
}

.br-line {
    width: 58%;
    border-color: white;
    margin: 1vw auto;
    margin-top: 2vw;
}

.film {
    font-family: 'Bebas Neue';
}

.film-tile {
    display: flex;
    flex-direction: column;
    background-color: #d42d2d;
    width: 12vw;
    height: 8vw;
    text-align: center;
    justify-content: center;
    font-family: 'Bebas Neue';
    -webkit-box-shadow: 2vw 0 3vw rgba(0, 0, 0, 0.5);
            box-shadow: 2vw 0 3vw rgba(0, 0, 0, 0.5);
    border-radius: 5%;
    margin: 0 2vw;
}

.name {
    letter-spacing: 0.1vw;
    font-size: 2vw;
    margin: 0;
    padding: 0;
}

.film-duration {
    font-size: 1.1vw;
    letter-spacing: 0.1vw;
    margin: 0;
    padding: 0;
  }

.rating {
    font-size: 1.1vw;
    margin: 0;
    padding: 0;
}

.pricing {
    display: flex;
    flex-direction: column;
    text-align: center;

}

.price {
    letter-spacing: 0.15vw;
    font-size: 1.1vw;
    margin: 0;
    padding: 0;
}

.more {
    font-family: 'Bebas Neue';
    letter-spacing: 0.15vw;
    font-size: 1.1vw;
    cursor: pointer;
    color: white;
    text-decoration: none;
}