.film-description {
    display: flex;
    margin: 0 5vw;
    color: white;
}

.film-detail-name {
    font-family: 'Bebas Neue';
    letter-spacing: 1.5vw;
    font-size: 7vw;
    color: #d42d2d;
    margin: 5vw 0 0 0;
}

.film-detail-genre {
    font-size: 1vw;
}

.film-detail-duration {
    font-size: 1vw;
}

.film-detail-description {
    width: 50vw;
    font-size: 2vw;
}

.film-detail-br-line {
    margin: 2vw 0 .5vw 0;
    display: flex;
    justify-content: flex-start;
    width: 20%;
}

.film-detail-price {
    font-size: 2vw;
}

.film-detail-buy {
    user-select: none;
    display: inline-block;
    font-family: 'Montserrat';
    letter-spacing: 0.15vw;
    font-size: 1.1vw;
    cursor: pointer;
    color: white;
    text-decoration: none;
    border: 0.1vw solid;
    padding: 0.5vw 1vw;
    border-radius: 1vw;
    border-color: #d42d2d;
    margin: 1vw 0 0 5vw;
    transition: ease .5s;
}

.film-detail-buy:hover {
    transform: scale(103%);
}

.film-detail-buy:active {
    transform: scale(100%);
}


