nav {
    position: relative;
    z-index: 3;
    width: 100vw;
    text-align: center;
}

.logo {
    font-family: 'Bebas Neue';
    font-size: 3vw;
    color: #d42d2d;
    text-align: center;
    padding-top: 2.3vw;
    
}

.navlist {
    display: flex;
    flex-direction: row;
    padding: 0 30%;
    margin: 0;
}

.navlist li {
    list-style: none;
    margin-top: 0.5vw;
    padding-bottom: 1vw;

}

.navlist li a {
    font-size: 1vw;
    font-weight: 300;
    text-decoration: none;
    color: white;
    padding: 0 5vw;
}